<div class="todo-app">
    <h1>Todo List</h1>
  
    <!-- Formularz dodawania nowego zadania -->
    <div class="add-todo">
      <input 
        type="text" 
        [(ngModel)]="newTodoDescription" 
        placeholder="Enter a new task"
      />
      <button (click)="addTodo()">Add Task</button>
    </div>
  
    <h2>Active Tasks</h2>
<ul>
  <ng-container *ngFor="let todo of todos">
    <li *ngIf="!todo.completed">
      <input 
        type="checkbox" 
        (change)="toggleComplete(todo)" 
      />
      {{ todo.description }}
    </li>
  </ng-container>
</ul>

    


  
    <!-- Lista ukończonych zadań -->

    <h2>Completed Tasks</h2>
    <ul>
      <ng-container *ngFor="let todo of todos">
        <li *ngIf="todo.completed">
          <input 
            type="checkbox" 
            (change)="toggleComplete(todo)" 
          />
          <s>{{ todo.description }}</s>
        </li>
      </ng-container>
    </ul>
    


  </div>
  